openapi: 3.0.3
info:
  title: NTNU CSIE Camp API Documentation
  description: |-
    NTNU CSIE Camp API documentation
    Note: Please remember to check for "token" in all response body. a new access_token will be returned IF the user's role has been changed while logged in.
    Some useful links:
    - [Backend repository](https://github.com/CSIE-Camp/website-backend)
    - [Camp website](https://camp.csie.cool)
    
  version: 1.0.0-oas3

servers:
  - url: https://server.com

tags:
  - name: Signup
  - name: Login
  - name: Profile
  - name: Admin
  - name: Home

paths:
  /signup/email:
    post:
      tags:
        - Signup
      summary: First step of account creation
      description: The user should submit their email
      requestBody:
        description: Submits the user inputted email
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/request/signup/email"
      responses:
        "200":
          description: >-
            Successfully send verification email. Ask the user to verify their
            email
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/response/signup/email/Code_200"
        "400":
          description: Password was null or empty
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/response/signup/email/Code_400"
        "403":
          description: Email is in use
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/response/signup/email/Code_403"
        "500":
          description: Unexpected errors
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/response/signup/email/Code_500"

  /signup/password:
    post:
      tags:
        - Signup
      summary: Final step of account creation
      description: >-
        The user should submit their password. Passwords should be validated on
        the front end.
      security:
        - bearerAuth: []
      requestBody:
        description: >-
          The submitted data should be in a SHA512 hash.Passwords should be
          validated on the front end.
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/request/signup/password"
      responses:
        "200":
          description: Successfully created the account. Ask the user to login
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/response/signup/password/Code_200"
        "400":
          description: Password was null or empty
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/response/signup/password/Code_400"
        "403":
          description: Account exists
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/response/signup/password/Code_403"
        "418":
          description: Provided password was not a hex digest of a SHA512 hash
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/response/signup/password/Code_418"
        "500":
          description: Unexpected errors
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/response/signup/password/Code_500"


  /login:
    post:
      tags:
        - Login
      summary: Login
      description: Logs in the user
      requestBody:
        description: >-
          The user should submit their email and password. Password should be
          the hex digest of a SHA512 hash of the inputted password
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/request/login/root_login"
      responses:
        "200":
          description: Ok
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/response/login/root_login/Code_200"
        "400":
          description: Invalid data
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/response/login/root_login/Code_400"
        "401":
          description: Account does not exist
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/response/login/root_login/Code_201"
        "403":
          description: Incorrect email or password
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/response/login/root_login/Code_403"
        "418":
          description: Password was not a SHA512 hash
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/response/login/root_login/Code_418"
        "500":
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/response/login/root_login/Code_500"
    delete:
      tags:
        - Login
      summary: Log out
      description: Logs out the user
      requestBody:
        description: >-
          Put the access token in the Authorization header. Please be reminded
          to delete the access token and refresh token from the browser's
          storage
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/request/login/root_logout"
      responses:
        "200":
          description: No response body
        "400":
          description: Token is null
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/response/login/root_login/Code_400"
        "401":
          description: Invalid token
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/response/login/root_login/Code_401"
        "403":
          description: Invalid token
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/response/login/root_login/Code_403"
        

  /login/refresh:
    post:
      tags:
        - Login
      summary: Refresh access token
      description: Refreshes the access token with refresh token
      requestBody:
        description: >-
          Submit the refresh token in the header "Authorization" field
      responses:
        "200":
          description: Ok
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/response/login/root_login/Code_200"
        "401":
          description: Token does not exist
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/response/login/root_login/Code_401"
  /login/password/reset:
    post:
      tags:
        - Login
      summary: For resetting password with email
      description: Link for resetting passwword will be sent after receiving email
      requestBody:
        description: >-
          Submit the email
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/request/login/password_reset"
      responses:
        "200":
          description: Ok
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/response/login/password_reset/Code_200"
        "401":
          description: Account does not exist
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/response/login/password_reset/Code_401"
        "500":
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/response/login/password_reset/Code_500"

  /login/password/update:
    post:
      tags:
        - Login
      summary: Set new password
      description: Submit email and new password to set the new password
      requestBody:
        description: >-
          Submit email and hashed new password
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/request/login/password_update"
      responses:
        "200":
          description: Ok
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/response/login/password_update/Code_200"
        "400":
          description: Invalid data
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/response/login/password_update/Code_400"
        "418":
          description: Provided password was not a hex digest of a SHA512 hash
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/response/login/password_update/Code_418"
        "500":
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/response/login/password_update/Code_500"

#Finish below

  /admin/view-profile/{id}:
    get:
      tags:
        - Admin
      summary: Go to users' profile
      description: Goes to requested users profile if you are an admin
      parameters:
        - in: path
          name: id
          required: true
          schema:
            $ref: "#/components/schemas/id"
          description: >-
            "null" or AccountId
      responses:
        "200":
          description: Ok
        "401":
          description: Insufficient privileges

  /admin/confirm-status:
    post:
      tags:
        - Admin
      summary: Modify application status
      description: Change target account's application status
      requestBody:
        description: >-
          Submit target account id and application status
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/application-status"
      responses:
        "200":
          description: Ok
        "401":
          description: Insufficient privileges
        "400":
          description: Invalid data

  /admin/confirm-payment:
    post:
      tags:
        - Admin
      summary: Modify payment status
      description: Change target account's payment status
      requestBody:
        description: >-
          Submit target account id
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/payment-status"
      responses:
        "200":
          description: Ok
        "401":
          description: Insufficient privileges or not enough arguments
        "400":
          description: Invalid data

  /admin/update-roles:
    post:
      tags:
        - Admin
      summary: Promote target account's role
      description: Promote account to staff or admin
      requestBody:
        description: >-
          Submit target account id and new role
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/update-role"
      responses:
        "200":
          description: Ok
        "400":
          description: Not enough arguments
        "403":
          description: Insufficient privileges, invalid role or changing role for self

  /admin/view-logs/{TargetAccount}:
    get:
      tags:
        - Admin
      summary: View logs for account
      description: Let admins view all logs for an account
      parameters:
        - in: path
          name: TargetAccount
          required: true
          schema:
            $ref: "#/components/schemas/id"
          description: AccountId
      responses:
        "200":
          description: Ok
        "403":
          description: Insufficient privileges

  /admin/get-camp-status:
    get:
      tags:
        - Admin
      summary: Get status of camp
      description: Get status of camp
      responses:
        "200":
          description: Ok
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/camp-status"

  /admin/edit-camp-status:
    post:
      tags:
        - Admin
      summary: Change status of camp
      description: Change status of camp
      requestBody:
        description: >-
          Submit new status
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/camp-status"
      responses:
        "200":
          description: Ok
        "403":
          description: Insufficient privileges

  /admin/search:
    post:
      tags:
        - Admin
      summary: Search for participant
      description: Search for a specific participant's or everyone's data
      requestBody:
        description: >-
          Submit name for specific participant or "" for everyone
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/search"
      responses:
        "200":
          description: Ok
        "403":
          description: Insufficient privileges


  /profile:
    get:
      tags:
        - Profile
      summary: Get users profile
      description: Get profile of the user themself
      responses:
        "200":
          description: Ok
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/profile-get"

  /profile/update:
    post:
      tags:
        - Profile
      summary: Updates user's profile
      description: Submit new profile to update
      requestBody:
        description: >-
          Submit profile
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/profile"
      responses:
        "200":
          description: Ok
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/update-profile-response"
        "403":
          description: Application service unavailable

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: Bearer
      bearerFormat: JWT

  schemas:
    request:
      signup:
        email:
          type: object
          properties:
            email:
              type: string
              example: example@gmail.com
        password:
          type: object
          properties:
            password:
              type: string
              example: 9cba73c31ac15d21512382ce6b21e83f8b9fddd31196ff4f54559a8e29add1e3bc4038c86c9bee7512d0d8ea72ec9480580dc677a9f172b46366ecb5198615cc
      login:
        root_login:
          type: object
          properties:
            email:
              type: string
              example: example@gmail.com
            password:
              type: string
              example: 9cba73c31ac15d21512382ce6b21e83f8b9fddd31196ff4f54559a8e29add1e3bc4038c86c9bee7512d0d8ea72ec9480580dc677a9f172b46366ecb5198615cc
        root_logout:
          type: object
          properties:
            refresh_token:
              type: string
        password_reset:
          type: object
          properties:
            email:
              type: string
              example: example@gmail.com
        password_update:
          type: object
          properties:
            password:
              type: string
              example: 9cba73c31ac15d21512382ce6b21e83f8b9fddd31196ff4f54559a8e29add1e3bc4038c86c9bee7512d0d8ea72ec9480580dc677a9f172b46366ecb5198615ch

        
    response:
      signup:
        email:
          Code_200:
            type: object
            properties:
              message:
                type: string
                example: Please verify your email
          Code_400:
            type: object
            properties:
              message:
                type: string
                example: Invalid email
          Code_403:
            type: object
            properties:
              message:
                type: string
                example: Email has been registered to an account, sign in instead!
          Code_500:
            type: object
            properties:
              message:
                type: string
                example: Internal server error
        password:
          Code_200:
            type: object
            properties:
              message:
                type: string
                example: Account Created!
          Code_400:
            type: object
            properties:
              message:
                type: string
                example: Password not provided
          Code_403:
            type: object
            properties:
              message:
                type: string
                example: Email has been registered to an account, sign in instead!
          Code_418:
            type: object
            properties:
              message:
                type: string
                example: Are you a teapot? (Password is not the hex digest of a SHA512 hash, probably tempered)
          Code_500:
            type: object
            properties:
              message:
                type: string
                example: Internal Server Error OR Unexpected error occured! Please try again later!
      login:
        root_login:
          Code_200:
            type: object
            properties:
              token:
                type: object
                properties:
                  access_token:
                    type: string
                  refresh_token:
                    type: string
                  token_type:
                    type: string
                    example: Bearer
              Account:
                type: object
                properties:
                  Role:
                    type: string
                  Status:
                    type: object
                    properties:
                      Applied:
                        type: boolean
                      Profile:
                        type: boolean
                      PassedTest:
                        type: boolean
                      GitHub:
                        type: boolean
          Code_400:
            type: object
            properties:
              message:
                type: string
                example: email or password cannot be null or empty
          Code_401:
            type: object
            properties:
              message:
                type: string
                example: Account does not exist
          Code_403:
            type: object
            properties:
              message:
                type: string
                example: Incorrect email or password
          Code_418:
            type: object
            properties:
              message:
                type: string
                example: I like green tea (Tempered password field or password not submitted as hex output of SHA512 digest)
          Code_500:
            type: object
            properties:
              message:
                type: string
                example: Unexpected error
        root_logout:
          Code_400:
            type: object
            properties:
              message:
                type: string
                example: Refresh token cannot be null! OR Token not found!
          Code_401:
            type: object
            properties:
              message:
                type: string
                example: "Invalid token"
          Code_403:
            type: object
            properties:
              message:
                type: string
                example: Invalid token
        refresh:
          Code_200:
            type: object
            properties:
              message:
                type: string
                example: Access token generated
              token:
                type: object
                properties:
                  access_token:
                    type: string
                  token_type:
                    type: string
                    example: Bearer
          Code_401:
            type: object
            properties:
              message:
                type: string
                example: Token does not exist
        password_reset:
          Code_200:
            type: object
            properties:
              message:
                type: string
                example: Please check your email
          Code_401:
            type: object
            properties:
              message:
                type: string
                example: Account not found
          Code_500:
            type: object
            properties:
              message:
                type: string
                example: Internal Server Error!
        password_update:
          Code_200:
            type: object
            properties:
              message:
                type: string
                example: Password updated! Logged out from all other devices
          Code_400:
            type: object
            properties:
              message:
                type: string
                example: Password not provided 
          Code_418:
            type: object
            properties:
              message:
                type: string
                example: Are you a teapot? (tempered data or not hex string of SHA512 digest)
          Code_500:
            type: object
            properties:
              message:
                type: string
                example: Internal server error