openapi: 3.0.3
info:
  title: NTNU CSIE Camp API Documentation
  description: |-
    NTNU CSIE Camp API documentation

    Some useful links:
    - [Backend repository](https://github.com/CSIE-Camp/website-backend)
    - [Camp website](https://camp.csie.cool)
  version: 1.0.0-oas3
servers:
  - url: https://server.com
  - description: SwaggerHub API Auto Mocking
tags:
  - name: Signup
  - name: Login
  - name: Profile
  - name: Admin
paths:
  /signp/email:
    post:
      tags:
        - Signup
      summary: First step of account creation
      description: The user should submit their email
      requestBody:
        description: Submits the user inputted email
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/signup_email"
      responses:
        "200":
          description: >-
            Successfully send verification email. Ask the user to verify their
            email
        "400":
          description: Password was null or empty
        "403":
          description: Email is in use
        "500":
          description: Unexpected errors
  /signp/password:
    post:
      tags:
        - Signup
      summary: Final step of account creation
      description: >-
        The user should submit their password. Passwords should be validated on
        the front end.
      security:
        - bearerAuth: []
      requestBody:
        description: >-
          The submitted data should be in a SHA512 hash.Passwords should be
          validated on the front end.
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/signup_password"
      responses:
        "200":
          description: Successfully created the account. Ask the user to login
        "400":
          description: Password was null or empty
        "418":
          description: Provided password was not a hex digest of a SHA512 hash
        "500":
          description: Unexpected errors
  /login:
    post:
      tags:
        - Login
      summary: Login
      description: Logs in the user
      requestBody:
        description: >-
          The user should submit their email and password. Password should be
          the hex digest of a SHA512 hash of the inputted password
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/login"
      responses:
        "200":
          description: Ok
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/login_response_success"
        "400":
          description: Invalid data
        "403":
          description: Account does not exist
        "418":
          description: Password was not a SHA512 hash
        "500":
          description: Unexpected error
    delete:
      tags:
        - Login
      summary: Log out
      description: Logs out the user
      requestBody:
        description: >-
          Put the access token in the Authorization header. Please be reminded
          to delete the access token and refresh token from the browser's
          storage
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/logout"
      responses:
        "200":
          description: Ok
        "400":
          description: Invalid data
        "403":
          description: Invalid token
        "401":
          description: Invalid token

  /login/refresh:
    post:
      tags:
        - Login
      summary: Refresh access token
      description: Refreshes the access token with refresh token
      requestBody:
        description: >-
          Submit the refresh token
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/refresh"
      responses:
        "200":
          description: Ok
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/refresh_response_success"
  /login/password/reset:
    post:
      tags:
        - Login
      summary: For resetting password with email
      description: Link for resetting passwword will be sent after receiving email
      requestBody:
        description: >-
          Submit the email
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/password-reset"
      responses:
        "200":
          description: Ok
        "500":
          description: Unexpected error
  /login/password/update:
    post:
      tags:
        - Login
      summary: Set new password
      description: Submit email and new password to set the new password
      requestBody:
        description: >-
          Submit email and hashed new password
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/login"
      responses:
        "200":
          description: Ok
        "400":
          description: Invalid data
        "418":
          description: Provided password was not a hex digest of a SHA512 hash
        "500":
          description: Unexpected error
  /admin/view-profile/{id}:
    get:
      tags:
        - Admin
      summary: Go to users' profile
      description: Goes to requested users profile if you are an admin
      parameters:
        - in: path
          name: id
          required: true
          schema:
            $ref: "#/components/schemas/profile-id"
          description: >-
            "null" or accountId
      responses:
        "200":
          description: Ok
        "401":
          description: Insufficient privileges
  /admin/update_profile:
    post:
      tags:
        - Admin
      summary: Change target account's status
      description: Change target account's application and/or payment status
      requestBody:
        description: >-
          Submit target account id, application status and payment status
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/update-profile"
      responses:
        "200":
          description: Ok
        "401":
          description: Insufficient privileges
        "400":
          description: Invalid data

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: Bearer
      bearerFormat: JWT
  schemas:
    signup_email:
      type: object
      properties:
        email:
          type: string
          example: test@example.com
    signup_password:
      type: object
      properties:
        password:
          type: string
          example: >-
            bed4efa1d4fdbd954bd3705d6a2a78270ec9a52ecfbfb010c61862af5c76af1761ffeb1aef6aca1bf5d02b3781aa854fabd2b69c790de74e17ecfec3cb6ac4bf
    login:
      type: object
      properties:
        email:
          type: string
          example: test@example.com
        password:
          type: string
          example: >-
            bed4efa1d4fdbd954bd3705d6a2a78270ec9a52ecfbfb010c61862af5c76af1761ffeb1aef6aca1bf5d02b3781aa854fabd2b69c790de74e17ecfec3cb6ac4bf
    login_response_success:
      type: object
      properties:
        access_token:
          type: string
        refresh_token:
          type: string
        token_type:
          type: string
          example: token
    logout:
      type: object
      properties:
        refresh_token:
          type: string
          example: Refresh token
    refresh:
      type: object
      properties:
        refresh_token:
          type: string
    refresh_response_success:
      type: object
      properties:
        access_token:
          type: string
    password-reset:
      type: object
      properties:
        email:
          type: string
          example: test@example.com
    profile-id:
      type: object
      properties:
        accountId:
          type: string
    update-profile:
      type: object
      properties:
        TargetAccount:
          type: string
        ApplicationStatus:
          type: integer
        PaymentStatus:
          type: integer
